* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #616161;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    padding: 0;
    font-weight: bold;
    color:#363636;
}

h1 {
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-size: 40px;
    line-height: 47px;
}

h3 {
    font-size: 30px;
    line-height: 35px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 24px;
}

a {
    color: #0a58e7;
    display: block;
    text-decoration: none !important;
    transition: ease-in-out .3s;
}

a:hover {
    color: #EF360F;
}

.mt {
    margin-top: 80px;
}

.mb {
    margin-bottom: 80px;
}

.pt {
    padding-top: 80px;
}

.pb {
    padding-bottom: 80px;
}

.m-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.p-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #f94944;
}

.container {
    max-width: 1200px;
}
.bg-grey{
    background: #f7f9fc;
}
.bg-orange{
    background: #fff8f4;
}







/* Header */
.nav-col {
    background: #01011b;
    box-shadow: 0px 5px 10px rgb(0 0 0);
    position: relative;
    z-index: 1020;
}
.logo img {
    margin-top: 10px;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo a{
    position: relative;
    margin: 0;
    padding: 0 15px;
}
.logo a::after {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 105px 130px 0;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    z-index: -1;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrap ul {
    display: flex;
}
.menu-wrap ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    display: block;
    padding: 25px 18px;
    transition: ease-in-out .3s;
}
.menu-wrap ul li.active a{
    color: #A8E00F;
}
.menu-wrap ul li a:hover{
    color: #A8E00F;
}
/* Header End */




/* Mobile Menu */
#mySidenav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 1020;
    background: #fff;
    width: 280px;
    height: 100%;
    overflow-x: hidden;
}

.sidenav {
    margin-left: -280px;
    transition: ease-in-out .3s;
    opacity: 0;
    visibility: hidden;
}

.sidenav.active {
    margin-left: 0;
    box-shadow: -5px 0px 15px 0 rgb(0 0 0 / 15%);
    opacity: 1;
    visibility: visible;
}

#menu1 li a {
    display: block;
    padding: 15px 20px;
    color: #4c4d4f;
    border-top: 1px solid #efefef;
    transition: ease-in-out .3s;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

#menu1 li a:hover {
    color: #a8e00f;
}

.mobile-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 10%);
}
.mobile-logo img {
    max-width: 100px;
}

#close-btn {
    background: #01011b;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 26px;
    font-size: 22px;
    border-radius: 100%;
}

#mySidenav::-webkit-scrollbar {
    width: 7px;
}

#mySidenav::-webkit-scrollbar-track {
    background: #fff;
    display: none;
}

#mySidenav::-webkit-scrollbar-thumb {
    background: rgb(208 208 208);
    border-radius: 10px;
}

.mobile-only {
    display: none;
}
.toggle-btn span {
    display: block;
    height: 5px;
    background:#a8e00f;
    margin: 3px;
    width: 5px;
}
.toggle-wrap {
    display: flex;
}
.toggle-btn {
    display: none;
    cursor: pointer;
}
.header-mobile {
    display: none;
}
/* Mobile Menu End */






/* Slider */
.shape {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: center;
    transform: translateY(-50%);
    opacity: .1;
}

.slider {
    position: relative;
    z-index: 1019;
    background-image: url('../img/slider6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.shape img {
    width: auto;
}
.slider-wrap {
    flex: 2;
}
.slide-img {
    flex: 1;
    margin-bottom: -20px;
}
.slider-wrap span {
    font-weight: bold;
    display: block;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 50px;
}

.slider-wrap h1 {
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 35px;
    margin-bottom: 50px;
    line-height: 110px;
    letter-spacing: 5px;
    margin-left: -7px;
}

.slider-wrap p {
    margin-bottom: 0;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}
.slider-wrap b {
    display: block;
    color: #A8E00F;
    font-size: 150px;
    text-align: left;
    margin-left: -3px;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1020;
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    z-index: -1;
}
canvas {
    z-index: -2 !important;
}
.s-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}
.carousel-control-next, .carousel-control-prev{
    display: none;
}
.slide-img img {
    width: auto;
}
/* Slider End */









/* Albums  */
#slider {
    list-style:none;
    padding:0px;
}
#slider img {
    width:100%;
    height:100%;
    object-fit: cover;
}

#slider li {
    width: 25%;
    height: 300px;
    overflow: hidden;
    padding: 0 10px;
}
#slider li a{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#slider li a::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgba(274,148,30, 0.7);
    transform: translate(25%, 25%) scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
#slider li:hover a::before{
    visibility: visible;
    transform: translate(0, 0) scale(1);
    opacity: 1;
}
.main-title {
    text-align: center;
    margin-bottom: 70px;
}

.main-title h3 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    z-index: 0;
    line-height: 60px;
}
.main-title h3::before {
    color: #f1f2f2;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:0px;
    bottom: 0;
    font-size: 120px;
    z-index: -1;
    margin: auto;
}
.main-title h3::after{
    content: "";
    background: #a8e00f;
    width: 580px;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    z-index: -1;
}
.albums .main-title h3::before{
    content: "Albums";
}
.albums {
    overflow: hidden;
}
.album-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    padding: 0 20px;
    opacity: 0;
    visibility: visible;
    transition: 1s;
    transform: translate(25%, 25%) scale(1.1);
}
#slider li:hover .album-wrap{
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0) scale(1);
}
.album-wrap span {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.album-wrap p {
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
/* Albums End */







/* About Us */
.bg{
    background: #f5eded;
}
.about-content h3 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about-content span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 17px;
}

.about-content img {
    width: auto;
    margin-top: 20px;
}
.about-img{
    position: relative;
    z-index: 0;
    padding-right: 50px;
    padding-left: 30px;
    overflow: hidden;
}
.shape1 img {
    position: absolute;
    top: 0;
    right: -113px;
    margin: auto;
    z-index: -1;
}
.quote-right a {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    color: #a8e00f;
    font-size: 35px;
    background: #fff;
    border-radius: 5px;
    z-index: 1;
    transition: all .5s ease;
}
.quote-right a:hover{
    background: #a8e00f;
    color: #fff;
}
.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #a8e00f;
    animation: squares 2.9s linear 0s infinite;
    animation-play-state: running;
    opacity: 0;
    border-radius: 5px;
}
.border-animation.border-2{
    animation-delay: 1s;
}
.border-animation.border-3{
    animation-delay: 2s;
}
.quote-right {
    position: relative;
    display: inline-block;
    padding: 15px;
    border: 2px solid #a8e00f;
    border-radius: 5px;
}
@keyframes squares {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    20% {
        transform: scale(1.24);
        opacity: 1;
    }
    to {
        transform: scale(2.1);
        opacity: 0;
    }
}
.video-list {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
}
/* About Us End */






/* Upcoming Videos */
.upcoming-event .main-title h3::before {
    content: "Videos";
}
.thumbnail-wrap {
    position: relative;
}

.thumbnail-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease-in-out 1s;
}
.video-wrap:hover .thumbnail-img img{
    transform: scale(1.10);
}
.video-img span {
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: 15px;
    font-weight: 500;
}

.v-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.v-icon i {
    color: #fff;
    font-size: 30px;
}
.video-content h3 {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 0px;
}
.video-content ul {
    display: flex;
    align-items: center;
}

.video-content ul li+li {
    margin-left: 20px;
}

.video-content ul i {
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
    color: #01011b;
}

.video-content ul li {
    color: #01011b;
}

.video-content {
    margin-top: 15px;
}
.video-wrap +.video-wrap {
    margin-top: 30px;
}
.thumbnail-img {
    height: 200px;
    overflow: hidden;
}
.main .thumbnail-img {
    height: 533px;
    overflow: hidden;
}
.main .video-content {
    text-align: center;
}

.main .video-content ul {
    justify-content: center;
}
/* Upcoming Videos End */







/* Gallery */
.gallery .main-title h3::before {
    content: "Gallery";
    color: #0000000a;
}
#lightgallery li {
    height: 275px;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

#lightgallery li a {
    width: 100%;
    height: 100%;
}

#lightgallery li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery.pb {
    padding-bottom: 60px;
}
/* Gallery End */







/* Footer */
.footer {
    background: #000000;
}

.footer-wrap img {
    width: auto;
}

.footer-wrap {
    text-align: center;
    padding: 40px 0;
}

.footer-wrap p {
    color: #d5d5d5;
    font-size: 18px;
    max-width: 45%;
    margin: 20px auto 20px;
}

.footer-wrap ul {
    display: flex;
    justify-content: center;
}

.footer-wrap ul li a {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    display: block;
}
.footer-wrap ul li.facebook a{
    background: #1877f2;
}
.footer-wrap ul li.whatsapp a{
    background: #25d366;
}
.footer-wrap ul li.twitter a{
    background: #1da1f2;
}
.footer-wrap ul li.youtube a{
    background: #ff0000;
}
.footer-wrap ul li.linkedin a{
    background: #0077b5;
}
.footer-wrap ul li.skype a{
    background: #00aff0;
}
.footer-wrap ul li +li a {
    margin-left: 7px;
}
.footer-bottom {
    text-align: center;
    background: black;
    border-top: 1px solid #ffffff1f;
    padding: 15px 0;
}

.footer-bottom p {
    margin-bottom: 0;
    color: #d5d5d5;
}
/* Footer End */






/* Scroll Top */
.go-top {
    position: fixed;
    cursor: pointer;
    transition: ease-in-out .5s;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 1021;
}
.go-top.active {
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}
.pulse {
    z-index: 4;
    text-align: center;
    font-size: 27px;
    height: 40px;
    width: 40px;
    line-height: 44px;
    background: #a8e00f;
    color: #fff;
    border-radius: 100%;
    font-size: 16px;
    position: relative;
    z-index: 0;
}
.pulse:after {
    animation: ripple-white3 .8s linear infinite;
    background: rgb(167 222 15 / 32%);
    border-radius: 100%;
    content: '';
    height:60px;
    left:-11px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 60px;
    line-height: 60px;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: -1;
}
@keyframes ripple-white3 {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    40% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4)
    }
}
/* Scroll Top End */







/* Blog */
.blog .main-title h3::before {
    content: "Blog";
}

.blog-wrap {
    position: relative;
}

.blog-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background: rgba(0,0,0,0) linear-gradient(to bottom,
        rgba(5,5,5,0) 0, rgba(0,0,0,0) 0,
        rgba(71,71,71,0) 0,rgba(102,102,102,0) 0,
        rgba(28,28,28,0) 0,rgba(20,20,20,.59) 32%,
        rgba(13,13,13,1) 62%,
        rgba(3,3,3,1) 100%) repeat scroll 0 0;
}

.blog-content h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 30px;
}
.blog-content h3:hover{
    color: #a8e00f;
}

.blog-content ul {
    display: flex;
}

.blog-content ul li+li {
    margin-left: 30px;
}

.blog-content ul li {
    color: #fff;
}

.blog-content ul li i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.main-blog .blog-img {
    height: 630px;
    overflow: hidden;
}

.blog-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog-thumb .blog-img {
    height: 300px;
    overflow: hidden;
}
.blog-thumb +.blog-thumb {
    margin-top: 30px;
}
/* Blog End */
